{% set page_title = 'Dashboard' %}
{% set active_page = 'dashboard' %}
{% extends 'layout.html' %}
{% block body %}
{% for row in rows %}
<style>
 .panel:hover {
   background-color: #ccc;
   cursor: pointer;
 }
</style>
<div class="row">
  {% for panel in row %}
  <div class="large-{{ panel.panel_size }} column">
    <div class="panel" data-id="{{ panel.match_id }}">
      <span class="match-id">Match {{ panel.match_id }}</span>
      <div class="match-teams">
        <span class="radiant">{{ panel.teams.radiant }}</span> vs. <span class="dire">{{ panel.teams.dire }}</span>
      </div>
      <span class="match-league">{{ panel.league.name }}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
<script>
  $(document).ready(function () {
    $('.panel').click(function () {
      document.location.href = '/match/' + $(this).data('id');
    });
  });
</script>
{% endblock %}
