{% extends 'layout.html' %}
{% block body %}
<div class="row">
  {% if error %}
  <div class="error"><strong>Error: </strong>{{ error }}</div>
</div>
  {% else %}
  <div class="large-12 columns">
    <h2>{{ match.teams.radiant }} vs. {{ match.teams.dire }}</h2>
  </div>
</div>
<div class="row">
  <div class="large-2 columns">
    <a href="#" class="button">Default Button</a>
    <a href="#" class="button">Default Button</a>
    <a href="#" class="button">Default Button</a>
  </div>
  <div class="large-10 columns">
    <h5>Radiant</h5>
    <div id="radiant-details-table">
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Hero</th>
            <th>K</th>
            <th>D</th>
            <th>A</th>
            <th>GPM</th>
            <th>XPM</th>
            <th>LH/Denies</th>
            <th>Net Worth</th>
            <th>Respawn Timer</th>
            <th>Items</th>
          </tr>
        </thead>
        <tbody>
          {% for player in teams.radiant %}
          {% set player_score = scores[player.account_id] %}
          <tr>
            <td>{{ player.name }}</td>
            <td>{{ player_score.hero }}</td>
            <td>{{ player_score.kills }}</td>
            <td>{{ player_score.death }}</td>
            <td>{{ player_score.assists }}</td>
            <td>{{ player_score.gold_per_min }}</td>
            <td>{{ player_score.xp_per_min }}</td>
            <td>{{ player_score.last_hits }}/{{ player_score.denies }}</td>
            <td>{{ player_score.net_worth }}</td>
            <td>{{ player_score.respawn_timer }}</td>
            <td><a href="#" onclick="showItems({{ player.account_id }});">Items</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <h5>Dire</h5>
    <div id="dire-details-table">
      <table>
        <thead>
          <tr>
            <th>Player</th>
            <th>Hero</th>
            <th>K</th>
            <th>D</th>
            <th>A</th>
            <th>GPM</th>
            <th>XPM</th>
            <th>LH/Denies</th>
            <th>Net Worth</th>
            <th>Respawn Timer</th>
            <th>Items</th>
          </tr>
        </thead>
        <tbody>
          {% for player in teams.dire %}
          {% set player_score = scores[player.account_id] %}
          <tr>
            <td>{{ player.name }}</td>
            <td>{{ player_score.hero }}</td>
            <td>{{ player_score.kills }}</td>
            <td>{{ player_score.death }}</td>
            <td>{{ player_score.assists }}</td>
            <td>{{ player_score.gold_per_min }}</td>
            <td>{{ player_score.xp_per_min }}</td>
            <td>{{ player_score.last_hits }}/{{ player_score.denies }}</td>
            <td>{{ player_score.net_worth }}</td>
            <td>{{ player_score.respawn_timer }}</td>
            <td><a href="#" onclick="showItems({{ player.account_id }});">Items</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
