{% set site_title = 'Dota2Time' -%}
{% set page_title = page_title|default('') %}
{% set navigation_bar = [
  ('/', 'home', 'Home')
] -%}
{% set active_page = active_page|default('home') -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site_title }} {% if page_title != '' %} - {{ page_title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
  </head>
  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="{{ url_for('index') }}">{{ site_title }}</a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          {% for href, id, caption in navigation_bar -%}
          <li {% if id == active_page %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
    </nav>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
